In [4]:
import yfinance as yf
import pandas as pd

In [8]:
data = yf.download("NDAQ", start="2020-01-01", end="2020-09-01")
pd.DataFrame(data)

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2019-12-31,107.040001,107.559998,106.660004,107.099998,105.755325,308800
2020-01-02,107.260002,107.959999,107.169998,107.820000,106.466278,641300
2020-01-03,106.980003,108.480003,106.739998,108.279999,106.920494,721600
2020-01-06,107.790001,108.260002,106.889999,108.209999,106.851379,718400
2020-01-07,108.000000,108.260002,106.389999,106.419998,105.083855,557700
...,...,...,...,...,...,...
2020-08-25,131.649994,132.039993,129.750000,130.100006,129.606552,496800
2020-08-26,130.410004,133.580002,130.210007,132.539993,132.037277,645800
2020-08-27,133.039993,133.279999,131.820007,131.850006,131.349915,508600
2020-08-28,132.619995,132.619995,131.429993,131.839996,131.339935,428100
2020-08-31,132.529999,135.110001,132.130005,134.419998,133.910156,1381700